.btn-blue{
  text-align: center;
  padding: 30px;
}

.btn-blue a{
  background-color: lightblue;
  border-radius: 4px;
  color: blue;
  font-weight: bold;
  font-family: 'Roboto',sans-serif;
}

.btn-gre{
  padding: 30px;
}

.btn-gre a{
  background-color: lightgreen;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Roboto',sans-serif;
}
